<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
	<h1>表单二</h1>
    <form action="/submit" method="get">
        <input type="text" name="name"/>
        <input type="text" name="age"/>  
        <input type="submit"/>
    </form>
</body>
</html>