<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<form action="/doAdd" method="get">
			<p>
				Name
				<input type="text" name="Name" />
			</p>
			<p>
				Nickname
				<input type="text" name="Nickname" />
			</p>
			<p>
				Age
				<input type="text" name="Age" />
			</p>
			<p>
				Sex
				<input type="radio" name="Sex" value="boy" />Boy
				<input type="radio" name="Sex" value="girl" />Girl
			</p>
			<input type="submit" />
			</p>
		</form>
	</body>

</html>